# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env

node_modules/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.VSCodeCounter
package-lock.json
.favorites.json
.idea

src/.temporary_cache

venv
src/venv
src-tauri/target
weights/
pretrained_models/
rmvpe.pt
hubert_base.pt
__pycache__
flagged
redist/

*.bat
*.sh
*.mp3
edge_output.mp3
tts_voice.wav
