//? Брейк-поинты
$pc: 1439.5px; // ПК
$laptop: 1199.5px; // ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.5px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.5px; // Телефоны L
$mobileSmall: 340px; // Телефоны S
