/* stylelint-disable */
//? Миксин для подключения шрифтов
//* Подробнее: https://developer.mozilla.org/ru/docs/Web/CSS/font-family

@mixin font-face($font-family, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$font-family}.woff") format("woff"), url("../fonts/#{$font-family}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

//? Подключение шрифтов
// @include font-face('NotoSans-Regular', 400, normal);
// @include font-face('NotoSans-Medium', 500, normal);
// @include font-face('NotoSans-SemiBold', 600, normal);
